body{
    font-family: 'Open Sans';
}
.doand{
    font-family: 'Pacifico', cursive;
    color:#111!important;
}
.nbbrand{
    font-size:32px;
}
.nb{
    color:white;
    background: #111;
}
.nb a{
    color:white!important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    /*color: #555;*/
    background-color: #333;
}
#trcanvastop{
  width:100%;
  height:100%;
  position:fixed;
  z-index:-2;
}
.canvascon{
  position:relative;
  width:100%;
  height:100vh;
}
.wrap-it {
    position: absolute;
    top: 90px;
    padding: 10px;
    color: #120010;
    font-size: 20px;
    height: auto;
}