
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover {
    outline: 0px !important;
    -webkit-appearance: none;
}

body {
    font-family: Arial,'Open Sans', Helvetica, sans-serif,Arial, Tahoma;
    font-size: 14px;
    line-height: 22.3px;
    color: #fff;
    background: #F2F2FB;
    z-index: 2000;
    width: 100%;
    min-width: 100%;
    color: #555;
    height: 100%;
    min-height: 100%;
    background-attachment: fixed;
	/*background:url('/static/img/bubbles10.jpg');*/
    background-size: 100%;
    background-repeat: no-repeat;
}

.iframe-styles {
    overflow: auto!important;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

.blue {
    color: #236467;
}

.green {
	/*color:#84DD89!important;*/
}

.green a {
    color: #2D8632!important;
}

.red {
    color: #AA3C39!important;
}

.orange {
    color: #AA6D39;
}

.oswald-override {
    font-family: 'Open Sans','Oswald','Lato','Open Sans', Helvetica, sans-serif,Arial, Tahoma!important;
}

.h1 {
    font-size: 36px;
    line-height: 40px;
    display: inline;
}

a {
    color: #eee;
}

a:hover,a:focus {
    color: #fff;
    text-decoration: underline;
}

.sclogoleft {
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 25px;
    width: 100px;
}

.biglogocon {
    margin-top: 150px;
}

.biglogocon img {
    width: 100%;
}

.header {
    z-index: 1075;
    height: 30px;
    color: #eee;
    background: #111;
 /*#0C1636; */
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: 200;
    color: #fff;
    text-indent: 3px;
    opacity: .95;
    border-bottom: 1px solid #562850;
/*#283756;*/
}

.header a {
    color: #eee!important;
}

.socbuttonstyles {
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: 100;
    color: #fff;
}

#playlists_sidebar {
    padding-left: 10px;
    padding-right: 20px;
}

.glyphicon {
    font-size: 11px;
    padding: 2px;
}

.brand {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    margin: auto;
}

.blue-bg {
	/*background:#5988D6;*/
    background: #3F5375;
	/*background-image: url('http://d36xtkk24g8jdx.cloudfront.net/bluebar/af31943/images/shared/noise-1.png'),-ms-linear-gradient(top, #597FB8 0%, #44618C 100%);
	background-image: url('http://d36xtkk24g8jdx.cloudfront.net/bluebar/af31943/images/shared/noise-1.png'),-moz-linear-gradient(top, #597FB8 0%, #44618C 100%);
	background-image: url('http://d36xtkk24g8jdx.cloudfront.net/bluebar/af31943/images/shared/noise-1.png'),-o-linear-gradient(top, #597FB8 0%, #44618C 100%);
	background-image: url('http://d36xtkk24g8jdx.cloudfront.net/bluebar/af31943/images/shared/noise-1.png'),-webkit-gradient(linear, left top, left bottom, color-stop(0, #597FB8), color-stop(1, #44618C));
	background-image: url('http://d36xtkk24g8jdx.cloudfront.net/bluebar/af31943/images/shared/noise-1.png'),-webkit-linear-gradient(top, #597FB8 0%, #44618C 100%);
	background-image: url('http://d36xtkk24g8jdx.cloudfront.net/bluebar/af31943/images/shared/noise-1.png'),linear-gradient(to bottom, #597FB8 0%, #44618C 100%);
	*/
}

.black-bg {
    background: #000;
}

.gray-noise-bg {
	/*
	background:#252525;
	background-image: url('http://d36xtkk24g8jdx.cloudfront.net/bluebar/af31943/images/shared/noise-1.png'),-ms-linear-gradient(top, #303030 0%, #252525 100%);
	background-image: url('http://d36xtkk24g8jdx.cloudfront.net/bluebar/af31943/images/shared/noise-1.png'),-moz-linear-gradient(top, #303030 0%, #252525 100%);
	background-image: url('http://d36xtkk24g8jdx.cloudfront.net/bluebar/af31943/images/shared/noise-1.png'),-o-linear-gradient(top, #303030 0%, #252525 100%);
	background-image: url('http://d36xtkk24g8jdx.cloudfront.net/bluebar/af31943/images/shared/noise-1.png'),-webkit-gradient(linear, left top, left bottom, color-stop(0, #303030), color-stop(1, #252525));
	background-image: url('http://d36xtkk24g8jdx.cloudfront.net/bluebar/af31943/images/shared/noise-1.png'),-webkit-linear-gradient(top, #303030 0%, #252525 100%);
	background-image: url('http://d36xtkk24g8jdx.cloudfront.net/bluebar/af31943/images/shared/noise-1.png'),linear-gradient(to bottom, #303030 0%, #252525 100%);
	*/
}

.blue-link-text {
    color: #5988D6;
}

.blue-link-text a {
    color: #5988D6;
}

.white-text {
    color: #fff;
}

.no-padding {
    padding: 0px!important;
}

.no-horizontal-padding {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.navbar {
    min-height: 32px;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

#sidebar-wrapper .nav>li>a {
    padding: 3px;
}

.navbar-default .navbar-nav>li>a {
    color: #3F5375;
}

.navbar-brand {
    height: 40px;
    padding: 4px 15px;
}

.left-sidebar {
    display: none;
}

.npr {
    padding-right: 0px;
}

.right-sidebar {
}

.boxify {
    margin: 0 0 10px 0;
    padding: 10px;
	/*
	background: #fff;

	border: 1px solid;*/
    border-color: #e9eaed #dfe0e4 #d0d1d5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	/*
	-webkit-box-shadow: 0 0 12px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 12px rgba(0,0,0,.1);
	box-shadow: 0 0 12px rgba(0,0,0,.1);
	*/
}

@media (min-width: 768px) {
    .left-sidebar {
        z-index: 1000;
        display: block;
    /*
    overflow-x: hidden;
    overflow-y: auto; */
    }

    .right-sidebar {
        z-index: 1000;
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
 /* Scrollable contents if viewport is shorter than content. */
    }
}
/* Sidebar navigation */
.nav-sidebar {
	/* 20px padding + 1px border */
	/*
  margin-right: -21px; 
  */
    margin-bottom: 10px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    padding: 0px 0px;
    color: #3b5998;
}

.nav-sidebar>li>a>.gray {
    color: #888!important;
    font-size: 8pt!important;
}

.nav-sidebar > .active > a {
}

.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.navbar {
    border-radius: 0px!important;
}

.navbar-nav>li>a.header-button {
    color: #3F5375;
    margin: 5px;
    font-size: 16px;
    width: auto;
    padding: 5px 8px;
}

.navbar-nav>li>a.header-button:hover {
    background: #5D85C2;
    color: #ffffff!important;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

label {
    padding-right: 10px;
    font-weight: normal;
    font-family: 'Open Sans', Helvetica,Arial,sans-serif;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #C0D6F4;
}

.vertical-line {
    border-left: 1px solid #06365f;
    border-right: 1px solid #4E7999;
    border-left-color: rgba(0,0,0,.1);
    margin: 0px 10px;
    height: 50px!important;
}

.form-control-custom {
    margin: 5px -5px;
    width: 235px;
    border-radius: 1px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    color: #222;
    height: 30px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    float: right;
}

.form-control-custom-sidebar {
    margin-left: 5px;
    width: 90%;
}

.submission-form {
    background: #FFFFFF;
    height: auto;
    height: 190px;
    padding: 0px;
    margin: 15px auto;
    border: 1px solid;
    border-color: #e9eaed #dfe0e4 #d0d1d5;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 1px 0 0 rgba(255,255,255,0.05), inset -1px 0 0 rgba(255,255,255,0.05), inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 1px 0 0 rgba(255,255,255,0.05), inset -1px 0 0 rgba(255,255,255,0.05), inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 1px 0 0 rgba(255,255,255,0.05), inset -1px 0 0 rgba(255,255,255,0.05), inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

.submission-form-header {
    background-color: #f6f7f8;
    border-top-color: #e9eaed;
    height: 40px;
    border-bottom: 1px solid #e9eaed;
    padding: 5px;
}

.submission-form-top {
    border-bottom: 1px solid #e9eaed;
    height: 30px;
    padding: 5px;
}

.submission-form-content {
    padding: 5px;
    height: 89px;
    border-bottom: 1px solid #ddd;
}

.submission-form-content textarea,input {
    border: none;
}

.submission-form-bottom {
    background-color: #f6f7f8;
    border-top-color: #e9eaed;
    border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    color: #141823;
    font-size: 13.5px;
    text-align: left;
    line-height: 1.28;
    height: 30px;
}

.submission-form-url-input {
    width: 50%;
    height: 100%;
    float: left;
    border: 1px solid #ddd;
}

.submission-form-feed-input {
    width: 40%;
    height: 100%;
    float: right;
    border: 1px solid #ddd;
}

.submission-post-button {
    width: 10%;
    height: 100%;
    float: right;
    padding: 2px 5px;
    color: #fff;
}

.filldiv {
    width: 100%;
    height: 100%;
}

textarea {
    resize: none;
    overflow: hidden;
}

textarea.styled {
    width: 100%;
    height: 100%;
    padding: 5px;
    border: none;
}

.item {
    height: 120px;
    padding: 2px;
    margin: 10px 0;
    position: relative;
}

.item-image {
    float: left;
    padding: 0px;
    border: 1px solid #ddd;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: hidden;
}

.item-image img {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.item-content {
    float: left;
}

.item-content-title {
}

.item-content-when-where {
}

.item-content-description {
}

.item-content-options {
    float: left;
}

.item-bottom-row {
    width: 100%;
    float: left;
    bottom: 0;
}

.item-content-who {
    float: right;
}

.circle-thumb {
    border: 1px solid #aaa;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    overflow: hidden;
    width: 50px;
    -webkit-box-shadow: 0 0 12px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 12px rgba(0,0,0,.1);
    box-shadow: 0 0 12px rgba(0,0,0,.1);
    float: left;
}

.circle-thumb-small {
    border: 1px solid #39546B;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    overflow: hidden;
    width: 20px;
    float: left;
}

.circle-thumb img,.circle-thumb-small img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.sctl-image {
    border: 1px solid #aaa;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    overflow: hidden;
    width: 50px;
    -webkit-box-shadow: 0 0 12px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 12px rgba(0,0,0,.1);
    box-shadow: 0 0 12px rgba(0,0,0,.1);
    float: left;
}

.sctl-image-medium {
    border: 1px solid #aaa;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    overflow: hidden;
    width: 20px;
    -webkit-box-shadow: 0 0 12px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 12px rgba(0,0,0,.1);
    box-shadow: 0 0 12px rgba(0,0,0,.1);
    float: left;
}

.sctl-inheader {
    margin-top: -5px;
}

.sctl-image-small {
    border: 1px solid #39546B;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    overflow: hidden;
    width: 20px;
    float: left;
}

.sctl-image img,.sctl-image-small img,.sctl-image-medium img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.submission-content {
    padding: 15px 0px;
    height: 100%;
    float: left;
}

.submission-container {
    display: flex;
    min-height: 600px;
  	/* max-height: 1200px; */
    height: 1300px;
    flex-flow: column wrap;
    width: 1px;
 /* doesn't matter if flex flow is column wrap */
}
.submission{
	height:auto;
	padding:0px 3px;
	float:left;
	width:15.5vw;
	/*height:185px;*/
	/*padding:0px;*/
	flex-basis:content;
	font-weight:400;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	/*padding: 0px 10px;*/
}
.submission img{
	border-radius: 6px 6px 0 0;
}
.submission .title{
	font-family:'Open Sans', 'Oswald';
	display:block;
	font-size:19px;
	line-height: 1.3;
	font-weight: 100;
}
.submission .info{
	display:block;
	line-height: 1.3;
	font-weight: 100;
}
.sc-bottom{
	min-height:50px;
	background:#fff;
	border:1px solid #ddd;
	overflow:hidden;
	position:relative;
	min-height: 300px;
  	max-height: 600px;
  	border-bottom:none;
}
.scb-bottom{
	font-size:9pt;
}
.description-container{
	padding:0px;
	vertical-align:top;
	position:relative;
	background:white;
}
.description{
	padding:5px 2px;
	position:relative;
}
.description div{
	position:relative;
}
.description-container>.sctl-image-medium{
	margin:8px;
}
.testy{
	background:white;
	width:100%;
	text-align:left;
	vertical-align: text-top;
	display:block;
}
.scbb-content{
	width:100%;
	float:left;
	padding:0px;
}
.overlay-con{
	position:relative;
	height:auto;
	margin:2px;
	display:block;
	z-index:1050;
}
.submission-image{
	/*height:186px;
	width:292px;*/
	/*margin:10px;*/
	float:left;
	margin-top:10px;
}
.play-button-overlay{
	position:absolute;
    top:0;
    left: 0;
    margin:20px;
    color:#222;
    opacity:.7;
}
.play-button-overlay>.glyphicon{
	 font-size:50px;
}
.test{
	float:left;
}
.link-title{
	font-size:17pt;
}
.sc-top{
	padding-top:5px;
	height:55px;	
	width:100%;
}
.custom-form-control{
	margin:5px 0px;
	background:#fff;
	float:left;
	border:1px solid #5C6D82;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	color:#203041;
	outline:medium none;
	font-size:14px;
	padding:0 8px;
}
.idfc{
	text-align:center;
	font-size:13px;
	font-family:'Open Sans';
}
.idfc a{
	color: #203041;
}
.ccfc{
	width:75%;
}
.cool-button{
	width:20%;
	float:left;
	border:none;
	height:34px;
	font-size:16px;
	color:#fff;
	margin:5px 0px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.inline{
	display:inline!important;
} 
.float-left{
	float:left!important;
}
.float-right{
	float:right!important;
}
.hspace{
	margin-right:5px;
}
.center{
	margin-left:auto;
	margin-right:auto;
}
.gray-border{
	border:1px solid #444;
}
.user-login-box{
	background:transparent;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 1px 0 0 rgba(255,255,255,0.05), inset -1px 0 0 rgba(255,255,255,0.05), inset 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 1px 0 0 rgba(255,255,255,0.05), inset -1px 0 0 rgba(255,255,255,0.05), inset 0 1px 0 rgba(255, 255, 255, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 1px 0 0 rgba(255,255,255,0.05), inset -1px 0 0 rgba(255,255,255,0.05), inset 0 1px 0 rgba(255, 255, 255, 0.1);
	padding:15px 0px;
	height:300px
}
.medium-user-box{
	text-align:left;
	float:left;
	width:100%;
	margin-bottom:10px;
}
.big-user-box{
	text-align:left;
	float:left;
	width:100%;
	margin-bottom:10px;
}
.sct-left-votes{
	font-size:20px;
}
.user-box-container{
	float:right;
	margin-left:15px;
}
.sc-top>.sct-right{
	margin-left:0px;
	float:right;
	text-align: right;
}
.sctr-left{
	padding:0px!important;
	float:left;
}
.sctr-right{
	padding:0px 5px;
	float:left;
}
.sctrr-top{
	font-size:12pt;
	float:left;
}
.sctr-left>.sctrr-top{
	padding:0px 5px;
}
.sctrrt-title{
	margin-top:10px;
}
.sctrrt-title a{
	color:#3b5998;
}
.sctrr-bottom{
	font-size:8pt;
}
.sltrrb-description a{
	color:#3b5998;
}
.image-overlay-item{
	position:absolute;
	height:20px;
	line-height:14px;
	font-size:12px;
	background-color: rgb(20, 20, 20);
	background-color: rgba(20, 20, 20, 0.9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	padding:4px;
	color:#f2f2f2;
}
.image-overlay-item a{
	color:#fff;
	text-decoration: none;
}
.image-overlay-item.bottom{
	bottom:0;
	left:0;
}
.image-overlay-item.top{
	top:0;
	left:0;
}
.modal-header{
	padding:10px;
	border-bottom:0px solid;
}
.modal-body{
	padding:0px;
}
.modal-content{
}
.modal-footer{
	border-top:0px solid;
}
.modal-footer a{
	color:#5988D6;
	padding:3px 5px;
	margin:0px 10px;
	border:1px solid #aaa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.modal-footer a:hover{
	color:#fff;
	border:1px solid #333;
	border:1px solid #aaa;
	background:#5988D6;
	text-decoration: none;
}
.modal-body iframe{
	margin-bottom:10px;
}
.upside-down{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.scbb-actions{
	padding: 10px 5px 0 0;
}
.scbba-action,.feed-option{
	padding:0px 10px 0px 0px;
	font-size:9pt;
}
.scbba-action a{
	/*
	color: #6d84b4;
	*/
	color:#111;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus {
	color: #555;
	background-color: #5D85C2;
}
.vinyls-con{
	width:100%;
	height:200px;
	background: url('/static/img/vinylschair2.jpg') no-repeat;
}
.user-box{
}
.user-box:hover{
	background-color:#5D85C2!important;
}

.user-dropdown{
	float:left;
	font-size:10pt;
	margin:0px 3px;
}
.feed-top{
	padding:10px;
	width:100%;
	height:50px;
	background:#FFFFFF;
	border: 1px solid;
	border-color: #e9eaed #dfe0e4 #d0d1d5;
	border-top-left-radius:5px;
	-moz-border-top-left-radius:5px;
	-webkit-border-top-left-radius:5px;
	border-top-right-radius:5px;
	-moz-border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 1px 0 0 rgba(255,255,255,0.05), inset -1px 0 0 rgba(255,255,255,0.05), inset 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 1px 0 0 rgba(255,255,255,0.05), inset -1px 0 0 rgba(255,255,255,0.05), inset 0 1px 0 rgba(255, 255, 255, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 1px 0 0 rgba(255,255,255,0.05), inset -1px 0 0 rgba(255,255,255,0.05), inset 0 1px 0 rgba(255, 255, 255, 0.1);
	
}
.feed-option a{
	color:#3b5998;
}
.feed-title{
	/*color:#66757f;*/
	color:#000;
	font-family
	font-size:26px;
	line-height:30px;
	margin: 0px 15px 0px 0px;
}
.title,.info{
	/*max-width:500px;*/
}
.info .details{
	color:#000;
}
.feed-add{
	/*
	background:#fff;
	*/
	background:transparent;
	/*color:#5988D6;*/
	color:#111;
	/*
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 1px 0 0 rgba(255,255,255,0.05), inset -1px 0 0 rgba(255,255,255,0.05), inset 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 1px 0 0 rgba(255,255,255,0.05), inset -1px 0 0 rgba(255,255,255,0.05), inset 0 1px 0 rgba(255, 255, 255, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 1px 0 0 rgba(255,255,255,0.05), inset -1px 0 0 rgba(255,255,255,0.05), inset 0 1px 0 rgba(255, 255, 255, 0.1);
	*/
	/*border:1px solid #5988D6;*/
	/*
	border:1px solid #111;
	*/
	border:none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding:1px 5px;
}
.feed-add:hover{
	color:#ffffff;
	text-decoration: none;
	background:#5988D6;
}
.full-width{
	width:100%;
}
.mt70{
	margin-top:70px;
}
.line{
	width:100%;
	line-height:1px;
	height:1px;
	font-size:0px;
	border-top:1px solid #99a2b6;
	border-bottom:1px solid #e8eef8;
	margin:10px 0px;
}
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
  }
.votes{
	font-size:25px;
	line-height:26px;
	font-family:'Open Sans', 'Oswald';
}
.footer-box{
	width:100%;
	height:auto;
	padding:3px;
	margin:3px 0px;
}
.footer-item{
	margin:5px;
}
.glyphicon-embiggen{
	padding-top:3px;
}
.user-image-container{
	width:100%;
	border:1px solid #777;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:black;
}
.user-image-container img{
	max-width:100%;
	max-height:100%;
	display:block;
	margin:auto;
}

.headline-image-container{
	width:100%;
	height:100%;
	overflow:auto;
}
.headline-image-container img{
	width: 100%;
	height: 100%;
	display:block;
	margin:auto;
	position:relative;
}
.hic-image{
	 /*linear-gradient( rgba(0, 25, 50, 0), rgba(0, 50, 100, 0) ),*/
	
	
	width:100%;
	display:block;
	margin:auto;

}
.hic-overimage{
	position:absolute;
	top:15%;
	/*
	left:16.66666%;
	right:16.66666%;*/
	padding:10px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	color:#002750;
	font-size:20px;
}
.blueover{

	min-height:150px;
	margin-bottom:10px;
	height:auto;

	padding:10px 0 0 0;
	font-weight:200;
		display: block;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #485D71;
	background:#203664;
	
}
.hic-oi-text{
	padding:32px 0 10px;
	font-size:17px;
	text-align:center;
	/*display:block;
	text-transform: uppercase;*/
}
.dpheadline{
	/*
	margin-bottom:20px;
	font-size:38px;
	font-weight:700;
	line-height:40px;
	z-index: 1002;
	*/
	font-size:14px;
	color:#3A4046;
	margin:0px;
	padding-bottom:26px;
	text-shadow:1px 1px 0px #fff;
}
.dpdescription{
	font-size:22px;
	font-weight:bold;
	line-height:1.27;
	color:#0D2D52;
	margin-bottom:15px;
	text-shadow:1px 1px 0px #fff;
}
.belsear{
	text-align:center;
}
.hic-oi-button{
	float:left;
	font-family:'Open Sans';
	border:1px solid #9BB8E3;
	background:transparent;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin:10px 10px 0px 0px;
	color:#fff;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size:12px;
    text-transform: uppercase;
    font-weight:100;
    text-align:center;
    padding:20px 40px;
}
.hic-oi-button:hover{
	background:white;
	color:#597FB8;
	text-decoration:none;
	cursor:pointer;
}
.menu-toggle{
	margin:5px auto 0px auto;
	color:#3f5375!important;
	height:32.5px;
	line-height: 32.5px;
	font-size:20px;
	padding-top:6px!important;
}
.menu-toggle span{
	margin: -10px auto 0 auto;
}
.login-signup-boxes{
	width:100%;
	font-size:15px;
}
.signup-panel{
	padding-left:10px;
	padding-right:10px;
}
::-webkit-input-placeholder {
   color: #3a4046;
}

:-moz-placeholder { /* Firefox 18- */
   color: #3a4046;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #3a4046;
}

:-ms-input-placeholder {  
   color: #3a4046; 
}
.ls-box{
	border:1px solid #333;	
	min-height:150px;
	margin-bottom:10px;
	height:auto;
	display: block;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:10px 0px;
	color:#3a4046;
	font-weight:200;
	box-shadow: 0px 0px 60px #383a3c;
	background: #F0F6FF;
}
.gray-text{
	color:#555;
}
.desc{
	border:1px solid #bbb;
	background:#fff;
	padding:5px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
.amazon{
	border-top-right-radius:5px;
	-moz-border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	background:	#EEF5FF;
	min-height:429px;

}
h1{
	font-size:20px;
	padding-top:0px;
	margin-top:0px;
	font-weight:100;
}
.amazontitle{
	font-size: 11px;
  	color: #fff;
  	width: 100%;
  	height: 28px;
  	font-weight:100px;
  	font-family:'Open Sans';
  	background-color: #151515; /*#203664;*/
  	border-bottom: 1px solid #000;
  	padding-left:5px;
  	padding-top:3px;
  	display:block;
}
.amazontitle a{
	color:#fff!important;
}
.amazonimage{
	padding: 0px;
	background: transparent;
	border-left: 1px solid #999;
	color: #fff;
	font-family: "Open Sans";
	font-size: 14px;
}
.amazonimage img{
	width:100%;
}
.amazonitem{
	width:100%;
	border-bottom:1px solid #D7E2E9;
	height:20px;
	font-size:11px;
	line-height:12px;
	padding:5px 10px;	
	color:rgb(188, 20, 97);/*#FF00F7;/*#002750;*/
	text-shadow: 0 1px 0 #e9edf3;
  	text-overflow: ellipsis;
  	white-space: nowrap;
 	overflow: hidden;
 	font-weight:100;
 	background:#EAF1FB;
}
#mc_embed_signup{
	background:transparent!important;
	background:#fff; 
	clear:left; 
	font:14px 'Open Sans',Arial,sans-serif;
}
#mc_embed_signup form {
	padding: 0px 0 10px 0!important;
}
#mc_embed_signup input.button{
	display:inline!important;
	width:auto!important;
}
#mc_embed_signup input.email{
	display:inline!important;
	margin:0 0px 10px 0!important;
	height:22px!important;
}
#mc_embed_signup .button{
	background-color:#222!important;
	font-family: 'Open Sans'!important;
	font-size:12px!important;
	font-weight:100!important;
	margin-left:0px!important;
	height:23px!important;
	line-height:25px!important;
	margin-top:1px!important;
}
.subtext{
	font-size:10px;
	padding:0;
	margin:0;
}
#mc_embed_signup label{
	display:inline!important;
	padding:0!important;
}
#mc_embed_signup .button:hover{
	background-color:#444!important;
}
.amazonitem a{
	color:rgb(186, 40, 105);/*#002750;*/
	font-family:'Open Sans';
}
.amazonitem a:hover{
	color:rgb(196, 16, 84);
}
.playlist-overlay-item{
	height:10vh;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	padding:10px;
	font-size:25px;
	color:#fff;
}
.bottom-page{
	position:fixed;
	bottom:0px;
	left:0px;
	right:0px;	
	margin-bottom:0px;
}
.blur{
	filter: blur(5px);
    -webkit-filter: blur(5px);
}
.center{
	position:relative;
	top:50%;
	margin:0 auto;
	margin-top:30vh;
	min-width:50%;
	max-width:80%;
}
.playlist-creation{
	margin: 20px;
	width:100%;
	padding:5px 0px;
}
.big-button{
	padding:20px;
	margin:10px;
	margin-left:7%;
	color:#f7f7f7;
	float:left;
	min-width:100px;
	max-width:400px;
	min-height:100px;
	max-height:200px;
	border:1px solid #5F9D9A;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	background-color:#88CFCB;
	font-size:40px;
	text-align:center;
	line-height: 45px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	cursor:pointer;
}
.big-button:hover{
	color:#ffffff;
	background:#90DBD6;
}
.blue-big-button{

}
.green-big-button{

}
.green-text{
	color:#5AABB7;
}
.share-text{
	text-align:left;
	padding:2px;
	font-size:10pt;
}
.name-title{
	font-size:25px;
	text-transform: uppercase;
	font-family: 'Open Sans', Helvetica, Arial;
}
.name-title.small{
	margin:5px 1px;
	font-size:15px;
}
.wrap-it{
	position:absolute;
	top:90px;
	/*
	left:16.66666%;
	right:16.66666%;*/
	padding:10px;
	
	color:#120010;/*#50003B;/*#002750;*/
	font-size:20px;
	height:auto;
}
.gord{
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:#d9e0ea;
	padding-right:0px;
	padding-left:0px;
	height:auto;
}
.footer-holder{
	width:100%;
	height:auto;
	color:#fff;
	font-size:11px;
	font-family:'Open Sans';
}
.footer-holder a{
	color:#fff;
}
.footer-holder a:hover{
	text-decoration: underline;
}
.footer-item{
	margin:3px;
	float:left;
}
.hidden{
	display:none;
}
.gooord{
	padding-right:0px;
	padding-left:0px;
}
.undervid{
	background:#f1f4f7;
	  overflow: hidden;
  zoom: 1;
  padding: 10px 9px 10px 9px;
  border-bottom: 1px solid #CECECE;
  border-left: 1px solid #bbc5d0;
  min-height: 51px;
}
.topradionav{
	width:100%;
	height:28px;
	color:#fff;
	background-color: #151515; /*#203664;*/
  	/*border-bottom: 1px solid #BE6BB2;*/	
  	border-top-left-radius:5px;
	-moz-border-top-left-radius:5px;
	-webkit-border-top-left-radius:5px;
}
.topradionav a{
	color:#fff;
}
.ui-widget-content{
    color: #fff;
    border-radius: 3px;
    border: 1px solid #454545;
    background:#0C1636;
    font-size:11px;
    font-family:'Open Sans';
}
.ui-autocomplete-category{
	font-family:Arial;
}
.trn-item{
	float:left;
	color:#d6deea;
	font-size:12px;
	margin:2px 8px;
	font-family:'Open Sans';
	font-weight:100;
}
.spaace{
	margin: 0 2px;
}
.trn-item:hover{
	color:white;
	text-decoration: underline;
	cursor:pointer;
}
.radio-title{
	width: 200px;
  	height: 25px;
  	float: left;
  	padding-top: 5px;
  	font-size:11px;
}
.stations,.statcon{
	padding-right: 0;
	padding-left:0;

	font-size:11px;
	overflow:auto;
}
.ah-station{
	text-shadow: 0 1px 0 #e9edf3;
	text-overflow: ellipsis;
  	white-space: nowrap;
  	overflow:hidden;
  	padding-left:15px;
  	padding-right:15px;
  	font-family:'Open Sans';
}
.picimage{
	border-radius:200px;
	-moz-border-radius:200px;
	-webkit-border-radius:200px;
	height:20px;
	width:20px;
	overflow:hidden;
	display:inline-block;
	position:relative;
	margin-top:1px;
	float:left;
}
.mjjt{
	float:left;
	margin-left:5px;
}
.picimage img{
	display:block;
	max-width:100%;
	max-height:100%;
}
.ah-station:hover{
	cursor:pointer;
	background:#DCA7D6;
}
.cdbb{
	background:#DE2469!important;
}
.cdbb:hover{
	background:#FF0060!important;
}
.selectedradio{
	background:#E4BFE0;
}
.gordington{
	padding-right:0px;
	padding-left:0px;
	border-left:1px solid #bbc5d0;
	border-right:1px solid #bbc5d0;
}
.socialbuttonmjcon{
}
li.socialbuttonmj{
	display:inline;
}
li.socialbuttonmj a:hover{
	background:#444;
}
.socialbuttonmj a{
	padding: 10px 12px;
	text-decoration: none;
}
li.socialbuttonmj a {
    background-color: #222;
    padding-top: 6px;
    padding-bottom: 4px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin-right: 2px;
    font-size: 12px;
    letter-spacing: 1px;
}
.moosic{
	height:50px;
	background:rgba(251, 210, 247, 0.3);/*#122951;*/
	width:100%;
	position:absolute;
	top:0px;
	top:32px;
	/*
	border-top:1px solid #0D131C;
	border-bottom:1px solid #2A3F63;
	*/
	font-family:'Open Sans';
	opacity:.95;
}
.tab-content{
	/*padding-top:20px;*/
}
.sbb{
	margin:5px 5px 0 2px;
}
/* sidebar */
#wrapper {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;/*account for border*/
}
.bottom-of-right-sidebar{
	/*
	position:absolute;
	bottom:0;
	left:0;
	*/
	font-size:12px;
	font-family:'Open Sans';
	padding-top:5px;
	height:50px;
	width:100%;
	display:block;
	border-top:1px solid #fff;
	background:#F0F6FF;
}
.search-icon{
	margin-top:13px;
	margin-left:-20px;
	float:right;
}

.navbar-toggle{
	padding:6px 10px;
}
.rank-container{
	position:relative;
	height:150px;
}
.display-inline{
	display:inline;
}
.rank{
    position: absolute;
    top: 20%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.user-title{
	font-family: 'Open Sans', 'Oswald';
	display: block;
	font-size: 25px!important;
	line-height: 1.3;
	font-weight: 100;
	padding:10px!important;
	text-transform: uppercase;
	font-size:19px!important;
	text-align:center;
}
.desc-title{
	font-family: 'Open Sans', 'Oswald';
	display: block;
	font-size: 25px!important;
	line-height: 1.3;
	font-weight: 100;
	padding:10px!important;
}
#player{
	height:300px;
	width:100%;
	border:none;
}
.video-player-options{
	height:100px;
	float:right;
	width:100%;
	background:#fff;
	height:auto;
}
.ta-left{
	text-align: left;
}
.ta-right{
	text-align: right;
}
.ta-center{
	text-align: center;
}
.radio-video-data-box{
	height:100%;
	width:100%;
}
.rvdb-title{
	font-size:10px;
	line-height: 12px;
	text-align: right;
	font-family:'Open Sans', 'Oswald','Open Sans', Helvetica,Arial;
	display:block;
	height:45px;
	float:right;
	color:#111;
	padding:10px;
	max-width:200px;
	white-space:normal;
	overflow:hidden;
	text-overflow: ellipsis;
}
.rvdb-thumbnail{
	height:45px;
	width:45px;
	float:right;
	display:inline-block;
	padding:10px 5px;
}
.rvdb-thumbnail img{
	position:relative;
	max-height:100%;
	max-width:100%;
	display:block;
}
.rvdb-description{
	font-size:10px;
	display:block;
	width:100%;
}
.related-videos-container{
	width:100%;
	height:400px;
	padding:0px 2px;
}
.related-video-box{
	display:block;
	border-bottom:1px solid #323232;
	background:transparent;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration:none;
    float:left;
    position:relative;
    width:100%;
}
.dark-gray-bg{
	background:#050505;
	border:1px solid #090909!important;
}
.light-gray-border{
	border:1px solid #ddd;
}
.related-video-box:hover{
	background:#333;
}
.related-video-thumbnail{
    float:left;
	padding:0px;
	border:1px solid #272626;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	overflow:hidden;
	width:40px;
	margin:5px auto;
}
.related-video-thumbnail img{
	position:relative;
	max-height:100%;
	max-width:100%;
	display:block;
}
.related-video-playbutton{
	position:absolute;
	top:12px;
	left:13px;
	display:block;
	width:20px;
	height:20px;
	color:#eee;
	z-index:10000;
	opacity:.7;
}
.related-video-info{
	float:left;
	width:150px;
	padding:5px;
}
.related-video-title{
	font-size:11px;
	line-height:12px;
	display:table-row;
	overflow:ellipsis;
}
.related-video-author{
	font-size:9px;
	display:table-row;
}
.vpo-top,.vpo-bottom{
	width:100%;
	display:block;
	margin:3px 0px;
}
.vpo-title{
	font-size:17px;
	line-height:18px;
	display:block;
	font-family:'Open Sans','Oswald','Open Sans', Helvetica,Arial;
	width:94%;
	padding: 2px 6px 4px 6px;
}
.vpo-desc{
	width:100%;
	font-size:10px;
	line-height:13px;
	padding:2px 6px 0px 6px;
}
.nowplaying{
	position:absolute;
	float:left;
	width:100px;
}
.createstation{
	height:25px;
	max-width:200px;
	background:white;
	font-size:11px;
	margin-top:12px;
}
.centerthis{
	margin-left:auto;
	margin-right:auto;
	height:25px;
	width:100%;
}
.centa{
	width:100%;
	padding-top:5px;
}
.vpo-seek{
	padding:3px;
	margin-left:auto;
	margin-right:auto;
	width:80%;
	height:25px;
}
.vpo-share,
.vpo-video-options,
.vpo-view-playlist,
.vpovo{
	width:25%;
	height:40px;
	float:left;
}
.holdaa{
	width:250px;
	margin-left:auto;
	margin-right:auto;
}
.invpovo{
	width:100%;
	text-align:center;
	margin-top:15px;
	font-size:20px;
}
.circle-button{
	text-shadow: 0 1px 0 #999;
	cursor:pointer;	
	/*color:#ddd;*/
	padding:8px 2px;
	width:40px;
	height:40px;
	margin:2.5px 15px 0 0;
	float:left;
	color:#fff;
	text-decoration: none;
	text-align:left;
	color:#222;
	/*
	border:1px solid #ccc;
	border-radius:200px;
	-moz-border-radius:200px;
	-webkit-border-radius:200px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    */
}
.gspecial{
	margin-top:1px!important;
}
.circle-button:hover,.circle-button:focus,.circle-button.active{
	color:#555;
	text-decoration: none;
}
.feed-title-sidebar{
	font-family:'Open Sans', Helvetica,Arial;
	font-size:14px;
}
 #id_honeypot {
    display: none;
  }
        .commenters {
            padding-left: 0px;
        }
        
            .commenters li {
                list-style-type: none;
            }
        
        .poster {
            font-size: 12px;
            color: #AAAAAA;
        }
        
        .postcomment ul {
            padding-left: 0px;
        }
        
            .postcomment ul li {
                list-style-type:  none;
                padding-bottom: 0px;
            }
                
        .postcomment label {
            width: 74px;
            display: inline-block;
        }
        
        .c {
            font-size: 12px;
            color: #444;
            padding: 0px 5px;

	border-radius:2.5px;
	-moz-border-radius:2.5px;
	-webkit-border-radius:2.5px;
            border:1px solid #ddd;
            background:white;
        }
.video-player{
	width:100%;
	height:80vh;
}
#content{
	margin-top:0px;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#content: {
		margin-top:40px;
	}
	.submission img{
		width:100%;
		height:auto;
		display:block;
	}
	body{
		background-size:initial;	
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

	.submission img{
		width:100%;
		height:auto;
		display:block;
	}
	.description div{
	}	
	body{
		background-size:initial;	
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	#content{
		margin-top:40px;
	}
	.submission img{
		width:100%;
		height:auto;
		display:block;
	}
	.description div{
	}
	body{
		background-size:initial;	
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
	body{
		background-size:initial;	
	}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
	body{
		background-size:initial;	
	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    body{
		background-size:initial;	
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
	.submission{
		margin-top:0px;
	}
	.submission img{
		width:100%;
		height:auto;
		display:block;
	}
	.description div{
	}
	body{
		background-size:initial;	
	}
	
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
	body{
		background-size:initial;	
	}
	.submission{
		margin-top:0px;
	}
	.submission img{
		width:100%;
		height:auto;
		display:block;
	}
	.description div{
	}
	
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
	body{
		background-size:initial;	
	}
	
}
.ui-autocomplete{
	z-index:10000;
}
.custom-text-input{
	width:100%;
	border:none;
}
.btn-dm{
	border:0px solid #ddd;
	margin:15px auto;
	color:#ddd;
	float:left;
}
.btn-dm:hover{
	color:#fff;
}
.custom-btn{
	background:#5988D6;
	border:1px solid #aaa;
	border:1px solid #5988D6;
	color:white;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.custom-btn:hover{
	background:#3b5998;
	color:#eee;
}
/* tagit */
ul.tagit {
    padding: 1px 5px;
    overflow: auto;
    margin-left: inherit;
 /* usually we don't want the regular ul margins. */
    margin-right: inherit;
}

ul.tagit li {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
}

ul.tagit li.tagit-choice {
    position: relative;
    line-height: inherit;
}

input.tagit-hidden-field {
    display: none;
}

ul.tagit li.tagit-choice-read-only {
    padding: .2em .5em .2em .5em;
}

ul.tagit li.tagit-choice-editable {
    padding: .2em 18px .2em .5em;
}

ul.tagit li.tagit-new {
    padding: .25em 4px .25em 0;
}

ul.tagit li.tagit-choice a.tagit-label {
    cursor: pointer;
    text-decoration: none;
}

ul.tagit li.tagit-choice .tagit-close {
    cursor: pointer;
    position: absolute;
    right: .1em;
    top: 50%;
    margin-top: -8px;
    line-height: 17px;
}

/* used for some custom themes that don't need image icons */
    ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: none;
}

ul.tagit li.tagit-choice input {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
}

ul.tagit input[type="text"] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    margin: 0;
    padding: 0;
    width: inherit;
    background-color: inherit;
    outline: none;
}
.blue-button{
	background:#395687;
	color:#f0f0f0;
}
.blue-button:hover{
	color:#fff;
}
.next-button{
	width:50%;
	float:right;
	padding:5px;
	margin:5px;
	height:55px;
}
.nb-content{
	width:100%;
	height:100%;
}
.nb-thumb{
	float:left;
	width:40px;
	height:40px;
}
.nb-top{
	float:left;
	width:100%;
	text-align:center;
	height:15px;
	font-size:12px;
	line-height: 14px;
}
.nb-title{
	float:left;
	width:100%;
	margin-left:40px;
	height:40px;
}
.social-small-button{
	float:left;
	border:1px solid #444;
}
.social-big-button{
	border:1px solid #999;
	float:left;
	width:50%;
	font-size:11px;
	margin:4px 0 5px 0;
}
.socialaccount_ballot{
	height:50px;
}
.socialaccount_providers{
	list-style: none;
	padding:0;
	margin-bottom:5px;
}
.blackbg{
  background:#000;
}
.black{
	color:#142A53;
	font-family:'Open Sans';
}
.lp-form-control{
	font-size:13px;
	line-height:14px;
	height:25px;
}
.lp-login-box{
	background:#F1F6FF;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-top:100px;
	box-shadow: 0px 0px 60px #383a3c;
}
.lp-login-box a{
	color:#0C1636;
}
.lp-lb-top{
	padding:10px;
}
.lp-lb-bottom{
	height:50px;
	background:#1C3462;
	margin: 5px -15px 0 -15px;
	padding:5px 24px;
	color:#CDE6EE;
	font-size:11px;
	font-family:'Open Sans';

}
.lp-lb-bottom a{
	color:#fff;
}
.sp-login-box{
	border:1px solid #ddd;
	background:#fff;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	padding:50px;
	margin-top:100px;
}
.sp-login-box a{
	color:#1C3462;
}
.sp-lb-top{

}
.feed-headline{
	width:100%;
	height:150px;
	text-align:left;
	color:#fff;
	padding:15px;
}
.feed-headline-title{
	font-size:30px;
	height:50px;
	position:relative;
	text-align: center;
}
.fht{
	margin:5px auto;
}
.fht-title{
	font-size:50px;
	font-weight:900;
}
.top-submission-form-container{
	width: 100%;
  	background: #D1E4FF;
  	padding: 5px 15px;
  	height: 52px;
  	border: 1px solid #BEC9DE;
}
.tsfc-form{
	height:40px;
	background:white;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.tsfcf-me{
	float:left;
	height:40px;
	width:40px;
}
.tsfcf-text-input{
	float:left;
	background:white;
	width:90%;
}
.whitec,.whitec a{
	color:#ddd!important;
	font-family: 'Open Sans';
	margin-top:-2px;
}
.whitec a:hover{
	color:#fff!important;
}
.swagbutton{
	width:100px;
	border:1px solid #BEC9DE;
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
	background:#eee;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.swagbutton:hover{
	background:#fff;
}
.social-big-button .facebook a{
	color:#fff;
}
.facebook{
	color:#fff!important;
}
#trcanvastop{
  width:100%;
  height:100%;
  position:fixed;
  z-index:-2;
}
.canvascon{
  position:relative;
  width:100%;
  height:100vh;
} 