{% extends 'base.html' %}

{% block now_playing %}
About
{% endblock %}
{% block player_container_and_vpo %}

<div style="padding:20px; font-size:18px;">
<h1> About Rhymebase </h1>

Rhymebase is the Youtube rhyme database. <a href="http://mikejohnsonjr.com">Mike Johnson Jr</a> started creating Rhymebase in September 2016 as a project to create a <a href="https://www.youtube.com/watch?v=py_DStBkJko">simple video compilation of rhyming lines in Youtube videos</a>. The general web app (without social features; at the time it was merely a public API of the rhymes in the database) was created in a week as a fun project and was sort of left to sit for months as the creator focused on his consulting business. In May 2017, Mike picked the project back up and started collecting more rhymes from Youtube and added social features to the application.<br><br>
On June 10th, 2017, Mike launched Rhymebase as a social app for users to find, edit, and share rhymes (as well as other video metadata) in Youtube videos, with ~270k initial rhymes collected programmatically, all assorted into ~15k rhyme relations.  
</div>
{% endblock %}