{% extends 'base.html' %}

{% block now_playing %}

<span class="create-action">Create</span> Rhyme <span class="rhyme-pk"></span>

{% endblock %}
{% block player_container_and_vpo %}

<form method="POST" action="." style="font-size:11px;padding:20px;">
	{% csrf_token %}
	{{form.as_p}}
	<input id="id_original_rhyme" maxlength="20" name="original_rhyme" type="hidden" />
	<input type="submit" value="Submit" />
</form>
{% endblock %}

{% block rt_link %}
{% if request.GET.original_rhyme %}
{% url 'rhyme_detail' video_id=request.GET.video_id slug=request.GET.slug pk=request.GET.original_rhyme}
{% else %}
{% url 'video_detail' video_id=request.GET.video_id %}
{% endif %}
{% endblock %}

{% block right_title %}
"{{request.GET.full_line}}" 
{% endblock %}

{% block righty %}
<div id="player">
<iframe width="100%" height="300"
src="https://www.youtube.com/embed/{{request.GET.video_id}}?color=white">
</iframe>
</div>
{% endblock %}

{% block more_js %}

<script>
$(document).ready(function(){
	if (Utils.queryString().original_rhyme===undefined){
		$('.create-action').text('Create');
	}else{
		$('.create-action').text('Replace');
		$('.rhyme-pk').text(Utils.queryString().original_rhyme);
	}
	$('#id_original_rhyme').val(Utils.queryString().original_rhyme);
	$('#id_video_id').val(Utils.queryString().video_id);
	$('#id_start').val(Utils.queryString().start);
	$('#id_duration').val(Utils.queryString().duration);
	$('#id_full_line').val(Utils.queryString().full_line);
});
	
	var video_id = "{{request.GET.video_id}}"
	if (video_id == ""){
		video_id = window.location.href.split('/')[3]
	}
	var tag = document.createElement('script');
        tag.src = "http://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        var player;
        function onYouTubePlayerAPIReady() {
            player = new YT.Player('player', {
                height: '300',
                width: '640',
                videoId: video_id,
                events: {
                  'onReady': onPlayerReady,
                }
            });
        }
        function onPlayerReady(event){
            player.seekTo(parseFloat('{{request.GET.start}}'));
        }
</script>
{% endblock %}