{% extends 'base.html' %}

{% block player_container_and_vpo %}
<h1> Define Artist </h1>
<form method="POST" action="." style="font-size:11px;padding:20px;">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit" />
</form>
{% endblock %}

{% block rt_link %}
{% if request.GET.original_rhyme %}
{% url 'rhyme_detail' video_id=request.GET.video_id slug=request.GET.slug pk=request.GET.original_rhyme}
{% else %}
{% url 'video_detail' video_id=request.GET.video_id %}
{% endif %}
{% endblock %}

{% block righty %}
<div id="player">
<iframe width="100%" height="300"
src="https://www.youtube.com/embed/{{request.GET.video_id}}?color=white">
</iframe>
</div>
{% endblock %}

{% block more_js %}

<script>
$(document).ready(function(){
    //$('#id_video_id').val(QueryString.video_id);

    var pathname = window.location.pathname;
    var video_id = pathname.split('/')[1];
    $('#id_video_id').val(video_id);

});

    var tag = document.createElement('script');
        tag.src = "http://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        var player;
        function onYouTubePlayerAPIReady() {
            player = new YT.Player('player', {
                height: '300',
                width: '640',
                videoId: '{{request.GET.video_id}}',
                events: {
                  'onReady': onPlayerReady,
                }
            });
        }


</script>
{% endblock %}