{% extends 'base.html' %}

{% block more_css_in_head %}

<style>
h4 {
	font-size:16px;
	font-weight:bold;
}
p {
	font-size:12px;
}
</style>
{% endblock %}
{% block now_playing %}
FAQ
{% endblock %}

{% block player_container_and_vpo %}

<div style="padding:20px">
<h2> Rhymebase FAQ </h2>

<h3> Questions </h3>

<h4> How can I submit a new rhyme for a video? </h4>
<p>On a #rhyme_detail or #video_detail page, navigate to the "Rhymes" block, and click "Create New Rhyme".</p>

<h4> How can I edit a rhyme in a video (full_line, start, duration, etc)? </h4>
<p>On a #rhyme_detial page, navigate to the "Rhymes" block, navigate the rhyme you want to edit, and click the <i class="fa fa-edit"></i> (edit) icon.</p>

<h4> How can I assort a given rhyme into its appropriate rhyme group? </h4> 
<p> There is no need for users to assort rhymes. When a rhyme is added it is assorted into its appropriate rhyme group automatically. </p>

<!--
<h4> How can I report a rhyme that does not belong in a given rhyme group? </h4>
<p> On a #rhyme_detail page, in the "Info" block, navigate to the "Rhyme Group" text, and click "Does [rhyme1] not rhyme with [rhyme1]?".</p>-->

<h4> How can I define a genre for a video? </h4>
<p> On a #rhyme_detail or #video_detail page, in the "Info" block, navigate to the "Video Genre" text, and click the <i class="fa fa-edit"></i> (edit) icon.</p>

<h4> How can I define an artist for a video? </h4>
<p> On a #rhyme_detail or #video_detail page, in the "Info" block, navigate to the "Video Artist" text, and click the <i class="fa fa-edit"></i> (edit) icon.</p>

<h4> How can I define the song for a video? </h4>
<p> On a #rhyme_detail or #video_detail page, in the "Info" block, navigate to the "Video Song" text, and click the <i class="fa fa-edit"></i> (edit) icon.</p>

<h4> How can I view all replacement rhymes submitted by the community? </h4>
<p> On a #rhyme_detail page, in the "Rhymes" block, navigate to the rhyme for which you want to see community replacement rhymes, and click the <i class="fa fa-list-ul"></i> (list) icon.</p>

<h4> How can I view all genres submitted by the community for a given video? </h4>
<p> On a #rhyme_detail or #video_detail page, in the "Info" block, navigate to the "Video Genre" text for which you want to see community submitted genres,and click the <i class="fa fa-list-ul"></i> (list) icon.</p>

<h4> How can I view all artist names submitted by the community for a given video? </h4>
<p> On a #rhyme_detail or #video_detail page, in the "Info" block, navigate to the "Video Artist" text for which you want to see community submitted artists, and click the <i class="fa fa-list-ul"></i> (list) icon.</p>

<h4> How can I view all songs names submitted by the community for a given video? </h4>
<p> On a #rhyme_detail or #video_detail page, in the "Info" block, navigate to the "Video Song" text for which you want to see community submitted song names, and click the <i class="fa fa-list-ul"></i> (list) icon.</p>

<h4> How can I vote on a rhyme for a video? </h4>
<p> On a #rhyme_detail page, navigate to the rhyme you want to vote on, click the <i class="fa fa-list-ul"></i> (list) icon, navigate to the appropriate rhyme and click the <button class="fa fa-caret-up"></button> (upvote) button if you would like to upvote the rhyme, or the <button class="fa fa-caret-down"></button> (downvote) if you would like to downvote the rhyme.</p>

<h4> How can I vote on a genre for a video? </h4>
<p> On a #rhyme_detail or #video_detail page, click the <i class="fa fa-list-ul"></i> (list) icon next to "Video Genre" in the "Info" block, navigate to the appropriate genre and click the <button class="fa fa-caret-up"></button> (upvote) button if you would like to upvote the genre, or the <button class="fa fa-caret-down"></button> (downvote) if you would like to downvote the genre.</p>

<h4> How can I vote on a artist for a video? </h4>
<p> On a #rhyme_detail or #video_detail page, click the <i class="fa fa-list-ul"></i> (list) icon next to "Video Artist" in the "Info" block, navigate to the appropriate artist and click the <button class="fa fa-caret-up"></button> (upvote) button if you would like to upvote the artist, or the <button class="fa fa-caret-down"></button> (downvote) if you would like to downvote the artist.</p>

<h4> How can I vote on a song for a video? </h4>
<p> On a #rhyme_detail or #video_detail page, click the <i class="fa fa-list-ul"></i> (list) icon next to "Video Song" in the "Info" block, navigate to the appropriate song and click the <button class="fa fa-caret-up"></button> (upvote) button if you would like to upvote the song, or <button class="fa fa-caret-down"></button> (downvote) if you would like to downvote the song. </p>

<h4> How can I update my status? </h4>
<p> On a your own #user_detail (profile) page, click "Edit Profile" in the left pane. You will be redirected to the #edit_profile page where you can update your status.</p>

<h4> How do I search for rhymes? </h4>
<p> In the top-left panel of every page, click on the search box, and type the keywords for the rhyme you want to look up. </p>

<h4> How do I search for videos in a given genre? </h4>
<p> In the top-left panel of every page, click on the select bar next to the search box, and navigave from "Rhymes" to "Genres" (and type the keywords for the genre you want to look up). Or, on the #search page, click "Genres" on the right block. </p>

<h4> How do I search for videos by a given artist? </h4>
<p> In the top-left panel of every page, click on the select bar next to the search box, and navigave from "Rhymes" to "Artists" (and type the keywords for the artist you want to look up). Or, on the #search page, click "Artists" on the right block. </p>

<h4> How do I search for videos of a given song? </h4>
<p> In the top-left panel of every page, click on the select bar next to the search box, and navigave from "Rhymes" to "Songs" (and type the keywords for the song you want to look up). Or, on the #search page, click "Songs" on the right block. </p>

<h4> How is my karma calculated? </h4>
<p> When you submit a rhyme, genre, artist, or song, you get one upvote (1 karma point for each submission by default). When someone upvotes one of your submissions, that is also added to your karma score. When you upvote another submission, you get 1/5th of a karma point. When someone downvotes one of your submissions, you are deducted a karma point.</p>

<h4> What are the Rules for Rhymebase? </h4>
<p> Please see the <a href="/rules"> Rules page</a>.

<h4> What are the Terms and Conditions/Privacy Policy for Rhymebase? </h4>
<p> Please see the <a href="/terms">Terms page</a>.	

<h4> Is there an API (Application Programming Interface) for Rhymebase? </h4>
<p> It is coming soon. </p>

<h4> Who built Rhymebase? </h4>
<p> <a href="http://mikejohnsonjr.com"> Mike Johnson Jr </a></p>

<h4> How can I support Rhymebase? </h4>
<p> Share <a href="/"> Rhymebase </a> and spread the word! </p>

<h3> Page Types </h3>

<h4> #rhyme_detail </h4>
<p> Example: http://rhymebase.com/[youtube_video_id]/r/[rhymebase_rhyme_id]/[rhyme-slug-title]</p>

<h4> #video_detail </h4>
<p> Example: http://rhymebase.com/[youtube_video_id]

<h4> #user_detail </h4>
<p> Example: http://rhymebase.com/user/[user_id]</p>

<h4> #edit_profile </h4>
<p> http://rhymebase.com/edit_profile </p>

<h4> #search </h4>
<p> Example: http://rhymebase.com/search?q=[query]&type=[search_type]&page=[page_number] </p>

<h4> #genre </h4>
<p> Example: http://rhymebase.com/genre/[genre_name] </p>

<h4> #artist </h4>
<p> Example: http://rhymebase.com/artist/[artist_name] </p>

<h4> #song </h4>
<p> Example: http://rhymebase.com/song/[song_name]</p>
</div>
{% endblock %}