{% extends 'base.html' %}

{% block player_container_and_vpo %}

<div style="padding:20px;font-size:13px;">
{% for c in content %}
	<a href="{% url 'video_detail' video_id=c.video_id %}">{{c.title}}</a><br>
{% empty %}
No videos in this genre
{% endfor %}

		
</div>


{% endblock %}

{% block info %}

<div class="pagination" style="padding:20px;font-size:14px">
            <span class="step-links">
                {% if results.has_previous %}
                    <a href="?page={{ content.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ content.number }} of {{ content.paginator.num_pages }}.
                </span>

                {% if content.has_next %}
                    <a href="?page={{ content.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
{% endblock %}