{% extends 'base.html' %}

{% block now_playing %}
Results for {{request.GET.q}} in {{search_type_key}}s
{% endblock %}

{% block right_title %}
Search Types
{% endblock %}

{% block player_container_and_vpo %}
<div style="padding:20px;font-size:11px" class="thingthang">
	{% if search_type_key == 'rhyme' %}
		{% for item in results %}
			<a href="{% url 'rhyme_detail' video_id=item.video_id pk=item.pk slug=item.slug %}">"{{item}}" - {{item.video_title}}</a>
		{% empty %}
		  	Nothing here.
		{% endfor %}
	{% elif search_type_key == 'genre' %}
		{% for item in results %}
			<a href="{% url 'genre' slug=item.slug %}">{{item.genre}}</a>
		{% empty %}
		  	Nothing here.
		{% endfor %}
	{% elif search_type_key == 'song' %}
		{% for item in results %}
			<a href="{% url 'song' slug=item.slug %}">{{item.song}}</a>
		{% empty %}
		  	Nothing here.
		{% endfor %}
	{% elif search_type_key == 'artist' %}
		{% for item in results %}
			<a href="{% url 'artist' slug=item.slug %}">{{item.artist}}</a>
		{% empty %}
		  	Nothing here.
		{% endfor %}
	{% endif %}
	<div class="pagination" style="font-size:14px">
	    <span class="step-links">
	        {% if results.has_previous %}
	            <a href="?page={{ results.previous_page_number }}&q={{request.GET.q}}&type={{search_type_key}}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ results.number }} of {{ results.paginator.num_pages }}.
	        </span>

	        {% if results.has_next %}
	            <a href="?page={{ results.next_page_number }}&q={{request.GET.q}}&type={{search_type_key}}">next</a>
	        {% endif %}
	    </span>
	</div>
</div>
{% endblock %}

{% block info %}

	<form method="GET" action="{% url 'search' %}">
      <input type="text" name="q" class="test" style="height:23px;font-size:13px;margin-top:1px" placeholder="Search Rhymes..."/>
      <select name="type" id="id_type" style="height:25px;font-size:13px;">
        <option value="rhyme"> Rhymes </option>
        <option value="genre"> Genres </option>
        <option value="artist"> Artist </option>
        <option value="song"> Song </option>
      <input type="submit" value="Search" class="button createStation" style="font-size:13px; background:#222; color:#eee; padding:3.3px;"/>
      </form>

{% endblock %}


{% block righty %}
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" style="width:100%;font-size:13px;" {% if search_type_key == 'rhyme' %}class="active" {% endif %}><a href="{{request.path}}?q={{request.GET.q}}&type=rhyme&page=1">Rhymes</a></li>
    <li style="width:100%; font-size:13px;" role="presentation" {% if search_type_key == 'genre' %}class="active" {% endif %}><a href="{{request.path}}?q={{request.GET.q}}&type=genre&page=1">Genres</a></li>
    <li style="width:100%;font-size:13px;" role="presentation" {% if search_type_key == 'artist' %}class="active" {% endif %}><a href="{{request.path}}?q={{request.GET.q}}&type=artist&page=1">Artists</a></li>
    <li style="width:100%;font-size:13px;" role="presentation" {% if search_type_key == 'song' %}class="active" {% endif %}><a href="{{request.path}}?q={{request.GET.q}}&type=song&page=1">Songs</a></li>
  </ul>
{% endblock %}
{% block content %}

{% endblock %}