{% extends 'base.html' %}

{% block meta_tags %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="{{item.full_line}} ({{item.video_title}}{% if genre %}| {{genre.genre_object.genre}}:{% endif %}) - Rhymebase">
    <meta name="description" content="'{{item.full_line}}' is a rhyming line in the Youtube video {{item.video_title}}. It{% if genre %}'s genre is {{genre.genre_object.genre}},{% endif %} starts at {{item.start}} and has a duration of {{item.duration}}.">
    <meta name="keywords" content="Rhymebase,rhyme,rhymes">
    <meta property="og:site_name" content="Rhymebase">
    <meta property="og:url" content="{{request.get_full_path}}">
    <meta property="og:title" content="{{item.full_line}} ({{item.video_title}}{% if genre %}| {{genre.genre_object.genre}}:{% endif %}) - Rhymebase">
    <meta property="og:image" content="{{thumbnail}}">
    <meta property="og:description" content="'{{item.full_line}}' is a rhyming line in the Youtube video {{item.video_title}}. It{% if genre %}'s genre is {{genre.genre_object.genre}} (as defined by the Rhymebase community),{% endif %} starts at {{item.start}} and has a duration of {{item.duration}}.">

    <meta property="og:video" content="http://www.youtube.com/v/{{item.video_id}}">
    <link rel="image_src" href="{{thumbnail}}" />
{% endblock %}

{% block more_css_in_head %}
    <style>
        .modal-body{
            font-size:12px;
        }
    </style>
{% endblock %}

{% block title_tag %}
	{{item.video_title}} | Rhymebase
{% endblock %}

{% block player_container_and_vpo %}
<div id="player">
<iframe width="640" height="300"
src="https://www.youtube.com/embed/{{item.video_id}}">
</iframe>
</div>
{% endblock %}

{% block righty %}

{% for ar,av in assorted_rhymes_and_videos %}
    

<div class="amazonitem">
          <a class="collectlink" href="{% url 'rhyme_detail' video_id=ar.video_id pk=ar.pk slug=ar.slug %}">
            <i class="fa fa-play-circle-o spaace"></i>
            "{{ar.full_line}}" - {{av.title}}
          </a>
        </div>
        
{% empty %}<br><br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;No rhymes<br>
{% endfor %}

<div class="pagination" style="padding:20px;font-size:14px">
            <span class="step-links">
                {% if results.has_previous %}
                    <a href="?page={{ assorted_rhymes_and_videos.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ assorted_rhymes_and_videos.number }} of {{ assorted_rhymes_and_videos.paginator.num_pages }}.
                </span>

                {% if assorted_rhymes_and_videos.has_next %}
                    <a href="?page={{ assorted_rhymes_and_videos.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>

{% endblock %}

{% block content %}

<h1> {{item.full_line}} </h1>
<h2> <a href="{% url 'video_detail' video_id=item.video_id %}">{{item.video_title}}</a> </h2>
<h3> {% if genre %}
    Genre: <a href="{% url 'genre' slug=genre.genre_object.genre %}"> {{genre.genre_object.genre}} </a>
    {% else %}
    Genre: Not Defined
    {% endif %}
</h3>
<div> Info: Start: {{item.start}}, Duration: {{item.duration}}, Date added: {{item.date_added}}, Last word: {{item.last_word}}</div>


{% block holdaa %}
<span id="current-caption" style="margin-top:5px;color:#111">{{item.full_line}}</span>

{% endblock %}

{% block info %}
<div style="font-size:11px;">
    <h3> Info </h3>
    <p style="margin:0"> Rhyme: {{item}} <a href="{% url 'community_rhyme_create' video_id=item.video_id %}?video_id={{item.video_id}}&original_rhyme={{item.pk}}&start={{item.start}}&duration={{item.duration}}&full_line={{item.full_line}}"> <i class="fa fa-edit" title="Replace This Rhyme"></i> </a> <span data-toggle="modal" data-target="#mainModal" class="get-community-rhymes" data-rhyme-pk="{{item.pk}}"><i class="fa fa-list-ul" style="color:#111"></i></span></p>
    <p style="margin:0"> Video Title: {{item.video_title}} </p>
    <p style="margin:0"> Video Genre: {% if genre %}<a href="{% url 'genre' slug=genre %}">{{genre}} </a> {% else %}{{genre}}{% endif %}<a href="{% url 'community_genre_create' video_id=item.video_id %}?video_id={{item.video_id}}"><i class="fa fa-edit"></i></a><span data-toggle="modal" data-target="#mainModal" class="get-community-genres pc" data-video-id="{{item.video_id}}"><i class="fa fa-list-ul" style="color:#111"></i></span></p> 
    <p style="margin:0"> Video Artist: {% if artist %}<a href="{% url 'artist' slug=artist %}">{{artist}} </a> {% else %}{{artist}}{% endif %} <a href="{% url 'community_artist_create' video_id=item.video_id %}?video_id={{item.video_id}}"><i class="fa fa-edit"></i></a><span data-toggle="modal" data-target="#mainModal" class="get-community-artists pc" data-video-id="{{item.video_id}}"><i class="fa fa-list-ul" style="color:#111"></i></span></p>
    <p style="margin:0"> Video Song: {% if song %}<a href="{% url 'song' slug=song %}">{{song}} </a> {% else %}{{song}}{% endif %} <a href="{% url 'community_song_create' video_id=item.video_id %}?video_id={{item.video_id}}"><i class="fa fa-edit"></i></a><span data-toggle="modal" data-target="#mainModal" class="get-community-songs pc" data-video-id="{{item.video_id}}"><i class="fa fa-list-ul" style="color:#111"></i></span></p>
    <p style="margin:0"> Date Added: {{item.date_added}}</p>
    <p style="margin:0"> Start Time: {{item.start}} <a href="{% url 'community_rhyme_create' video_id=item.video_id %}?video_id={{item.video_id}}&original_rhyme={{item.pk}}&start={{item.start}}&duration={{item.duration}}&full_line={{item.full_line}}"> <i class="fa fa-edit" title="Replace This Rhyme"></i> </a></p>
    <p style="margin:0"> Duration: {{item.duration}} <a href="{% url 'community_rhyme_create' video_id=item.video_id %}?video_id={{item.video_id}}&original_rhyme={{item.pk}}&start={{item.start}}&duration={{item.duration}}&full_line={{item.full_line}}"> <i class="fa fa-edit" title="Replace This Rhyme"></i> </a></p>
    <p style="margin:0"> Rhyme Group: words that rhyme with "{{rhyme_group}}"</p>
</div>
{% endblock %}
{% block info2 %}
<h3 style="margin-top:0px;"> Rhymes </h3>

<a href="{% url 'community_rhyme_create' video_id=item.video_id %}?video_id={{item.video_id}}"> Create New Rhyme </a><br>
{% for r in all_rhymes %}

<div style="font-size:11px;line-height:17px;" class="yuhhh">
	<span class="aaa" data-slug="{{r.slug}}" data-videoid="{{r.video_id}}" data-start="{{r.start}}" class="rhyme" data-pk="{{r.pk}}" id="{{r.pk}}">{{r.start}} - {{r.full_line}} </span><a href="{% url 'community_rhyme_create' video_id=item.video_id %}?video_id={{item.video_id}}&original_rhyme={{r.pk}}&start={{r.start}}&duration={{r.duration}}&full_line={{r.full_line}}"> <i style="color:#111" class="fa fa-edit" title="Replace This Rhyme"></i> </a><span data-toggle="modal" data-target="#mainModal" class="get-community-rhymes pc" data-rhyme-pk="{{r.pk}}"><i class="fa fa-list-ul" style="color:#111"></i></span></div>
{% empty %}
	No Rhymes
{% endfor %}
{% endblock %}

{% block now_playing %}
"{{item.full_line}}" - {{item.video_title}} 
{% endblock %}
{% block right_title %}
Rhymes in Other Videos
{% endblock %}

___________________<br>


<br>
___________
<br>

<a href="{% url 'community_genre_create' video_id=item.video_id %}?video_id={{item.video_id}}">Define Video Genre</a><br>
<a href="{% url 'community_rhyme_create' video_id=item.video_id %}?video_id={{item.video_id}}"> Create New Rhyme </a>

{% endblock %}

{% block more_js %}

	<script>

        var tag = document.createElement('script');
        tag.src = "http://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        var player;
        function onYouTubePlayerAPIReady() {
            player = new YT.Player('player', {
                height: '300',
                width: '640',
                videoId: '{{item.video_id}}',
                events: {
                  'onReady': onPlayerReady,
                }
            });
        }
        function onPlayerReady(event){
            player.seekTo(parseFloat('{{item.start}}'));
        }

        $('.rhyme').click(function(e){
            var $this = $(this);
            var start = $this.data('start');
            var video_id = $this.data('videoid');
            var pk = $this.data('pk');
            var slug = $this.data('slug')
            player.seekTo(parseFloat(start));

            history.pushState({}, null, '/'+video_id+'/r/'+pk+'/'+slug);
        });

        setInterval(function(){
            {% for t,r in starts_and_ends_and_captions %}
            if(player.getCurrentTime() > parseFloat('{{t.0}}') && player.getCurrentTime() < parseFloat('{{t.1}}')){
                $('#current-caption').text('{{r.full_line}}');
            }
            {% empty %}
            {% endfor %}
        },200);

        
        Data.video_id="{{item.video_id}}"
    </script>

{% endblock %}