{% extends 'base.html' %}

{% block now_playing %}
Terms of Service and Privacy Policy
{% endblock %}
{% block player_container_and_vpo %}
<div style="padding:30px;font-size:13px;">
Rhymebase Terms of Service and Privacy Policy<br><br>

1. Terms<br><br>

By accessing the website at <a href="http://rhymebase.com">http://rhymebase.com</a>, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.<br><br>

2. Use License<br><br>

&nbsp;&nbsp;&nbsp;&nbsp;a. Permission is granted to temporarily download one copy of the materials (information or software) on Rhymebase's website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:<br><br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;i. modify or copy the materials;<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ii. use the materials for any commercial purpose, or for any public display (commercial or non-commercial);<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;iii. attempt to decompile or reverse engineer any software contained on Rhymebase's website;<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;iv. remove any copyright or other proprietary notations from the materials; or<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;v. transfer the materials to another person or "mirror" the materials on any other server.<br><br>

&nbsp;&nbsp;&nbsp;&nbsp;b. This license shall automatically terminate if you violate any of these restrictions and may be terminated by Rhymebase at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.<br><br>

3. Disclaimer<br><br>

&nbsp;&nbsp;&nbsp;&nbsp;a. The materials on Rhymebase's website are provided on an 'as is' basis. Rhymebase makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.<br>
&nbsp;&nbsp;&nbsp;&nbsp;b. Further, Rhymebase does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.<br><br>

4. Limitations<br><br>

In no event shall Rhymebase or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Rhymebase's website, even if Rhymebase or a Rhymebase authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.<br><br>

5. Accuracy of materials<br><br>

The materials appearing on Rhymebase's website could include technical, typographical, or photographic errors. Rhymebase does not warrant that any of the materials on its website are accurate, complete or current. Rhymebase may make changes to the materials contained on its website at any time without notice. However Rhymebase does not make any commitment to update the materials.<br><br>

6. Links<br><br>

Rhymebase has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Rhymebase of the site. Use of any such linked website is at the user's own risk.<br><br>

7. Modifications<br><br>

Rhymebase may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.<br><br>

8. Governing Law<br><br>

These terms and conditions are governed by and construed in accordance with the laws of Texas and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.<br><br>

Privacy Policy<br><br>

Your privacy is important to us.<br><br>

It is Rhymebase's policy to respect your privacy regarding any information we may collect while operating our website. Accordingly, we have developed this privacy policy in order for you to understand how we collect, use, communicate, disclose and otherwise make use of personal information. We have outlined our privacy policy below.<br><br>

<ul>
<li>We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.</li>
<li>Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
We will collect and use personal information solely for fulfilling those purposes specified by us and for other ancillary purposes, unless we obtain the consent of the individual concerned or as required by law.</li>
<li>Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.</li>
<li>We will protect personal information by using reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.</li>
<li>We will make readily available to customers information about our policies and practices relating to the management of personal information.</li>
<li>We will only retain personal information for as long as necessary for the fulfilment of those purposes.
We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained. Rhymebase may change this privacy policy from time to time at Rhymebase's sole discretion.</li>
</ul>
</div>
{% endblock %}

{% block rt_link %}
/
{% endblock %}

{% block right_title %}
Home
{% endblock %}

{% block righty %}
<div style="font-size:18px;padding:30px">
	Back to <a href="/"> Homepage </a>
</div>
{% endblock %}