{% extends 'base.html' %}

{% block meta_tags %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="{{title}} - Rhymebase">
    <meta name="description" content="{{title}} {% if genre %}| {{genre.genre_object.genre}}{% endif %} - Rhymebase. ">
    <meta name="keywords" content="Rhymebase,rhyme,rhymes">
    <meta property="og:site_name" content="Rhymebase">
    <meta property="og:url" content="{{request.get_full_path}}">
    <meta property="og:title" content="{{title}} - Rhymebase">
    <meta property="og:image" content="{{thumbnail}}">
    <meta property="og:description" content="'{{title}}' is a Youtube video embedded at Rhymebase. {% if genre %}It's genre is {{genre.genre_object.genre}}, as defined by the Rhymebase community.{% endif %}">
    <meta property="og:video" content="http://www.youtube.com/v/{{video_id}}">
    <link rel="image_src" href="{{thumbnail}}" />
    {% endblock %}

{% block title_tag %}
    {{title}} | Rhymebase
{% endblock %}

{% block player_container_and_vpo %}
<div id="player">
<iframe width="640" height="300"
src="https://www.youtube.com/embed/{{video_id}}">
</iframe>
</div>
{% endblock %}

{% block now_playing %}
{{title}}
{% endblock %}
{% block info %}
<div style="font-size:11px;">
    <h3> Info </h3>
    <p style="margin:0"> Video Title: {{title}} </p>
     <p style="margin:0"> Video Genre: {% if genre %}<a href="{% url 'genre' slug=genre %}">{{genre}} </a> {% else %}{{genre}}{% endif %}<a href="{% url 'community_genre_create' video_id=video_id %}?video_id={{video_id}}"><i class="fa fa-edit"></i></a><span data-toggle="modal" data-target="#mainModal" class="get-community-genres pc" data-video-id="{{video_id}}" data-type="genre"><i class="fa fa-list-ul" style="color:#111"></i></span></p> 
    <p style="margin:0"> Video Artist: {% if artist %}<a href="{% url 'artist' slug=artist %}">{{artist}} </a> {% else %}{{artist}}{% endif %} <a href="{% url 'community_artist_create' video_id=video_id %}?video_id={{video_id}}"><i class="fa fa-edit"></i></a><span data-toggle="modal" data-target="#mainModal" class="get-community-artists pc" data-video-id="{{video_id}}" data-type="artist"><i class="fa fa-list-ul" style="color:#111"></i></span></p>
    <p style="margin:0"> Video Song: {% if song %}<a href="{% url 'song' slug=song %}">{{song}} </a> {% else %}{{song}}{% endif %} <a href="{% url 'community_song_create' video_id=video_id %}?video_id={{video_id}}"><i class="fa fa-edit"></i></a><span data-toggle="modal" data-target="#mainModal" class="get-community-songs pc" data-video-id="{{video_id}}" data-type="song"><i class="fa fa-list-ul" style="color:#111"></i></span></p>
</div>
{% endblock %}

{% block info2 %}

<a href="{% url 'community_rhyme_create' video_id=video_id %}?video_id={{video_id}}"> Create New Rhyme </a>

{% endblock %}

{% block right_title %}
Rhymes in "{{title}}"
{% endblock %}

{% block righty %}
{% for r in all_rhymes %}
    

<div class="amazonitem">
          <a class="collectlink" href="{% url 'rhyme_detail' video_id=r.video_id pk=r.pk slug=r.slug %}">
            <i class="fa fa-play-circle-o spaace"></i>
            {{r.start}} - "{{r.full_line}}"
          </a>
        </div>
        
{% empty %}
    No rhymes
{% endfor %}

{% endblock %}
{% block content %}

<h1> {{title}} </h1>
{% if genre %}
<h2> Genre: <a href="{% url 'genre' slug=genre.genre_object.genre %}">{{genre.genre_object.genre}}</a> </h2>
{% else %}
<h2> Genre: None </h2> | <a href="{% url 'community_genre_create' video_id=video_id %}?video_id={{video_id}}">Define Video Genre</a>
{% endif %}
<iframe id="player" type="text/html" width="640" height="390"
  src="http://www.youtube.com/embed/{{video_id}}?enablejsapi=1&origin=http://rhymebase.com"
  frameborder="0"></iframe>

{% for r in all_rhymes %}
	<a href="#" onclick="changeUrl()" data-start="{{r.start}}" class="rhyme" id="{{r.pk}}">{{r.start}} - {{r.full_line}} | <a href="{% url 'community_rhyme_create' video_id=video_id %}?video_id={{video_id}}&original_rhyme={{r.pk}}&start={{r.start}}&duration={{r.duration}}&full_line={{r.full_line}}"> Replace this Rhyme </a></div><br>
{% empty %}
	No Rhymes
{% endfor %}
<a href="{% url 'community_rhyme_create' video_id=video_id %}?video_id={{video_id}}"> Create New Rhyme </a>

{% endblock %}

{% block more_js %}
    <script>

        var tag = document.createElement('script');
        tag.src = "http://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        var player;
        function onYouTubePlayerAPIReady() {
            player = new YT.Player('player', {
                height: '300',
                width: '640',
                videoId: '{{video_id}}',
                events: {
                  'onReady': onPlayerReady,
                }
            });
        }
        Data.video_id="{{video_id}}"
    </script>
{% endblock %}