{% extends 'base.html' %}

{% block now_playing %}
Rhymebase Home
{% endblock %}
{% block player_container_and_vpo %}
<div style="padding:20px;">
	<h1 style="margin-top:20px;">Welcome to Rhymebase, the Youtube rhyme database. </h1>
	<form method="GET" action="{% url 'search' %}">
      <input type="text" name="q" class="test" style="height:23px;font-size:13px;margin-top:2px;display:inline-block" placeholder="Search Rhymes..."/>
      <select name="type" id="id_type" style="height:25px;font-size:13px;display:inline-block">
        <option value="rhyme"> Rhymes </option>
        <option value="genre"> Genres </option>
        <option value="artist"> Artist </option>
        <option value="song"> Song </option>
      <input type="submit" value="Search" class="button createStation" style="font-size:13px; background:#222; color:#eee;display:inline-block"/>
      </form>
      <p style="font-size:13px;margin-top:10px;"> There are currently {{rhymes_count}} rhymes and {{assorted_rhymes_count}} assorted rhyme relations in the Rhymebase database. </p>
      <p style="font-size:13px">Defined Genres: {{genres_count}}</p>
      <p style="font-size:13px">Defined Artists: {{artists_count}}</p>
      <p style="font-size:13px">Defined Songs: {{songs_count}}</p>


</div>
{% endblock %}
{% block content %}
<div class="wrap-it col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
	<center>
		<div class="doand">
			Rhymebase
		</div>
		<div class="searchbox">
			<form method="GET" action="/search/">
				<input type="text" name="q" placeholder="Search rhymes..." />
				<input type="submit" value="Search" />
			</form>
		</div>
	</center>
</div>
{% endblock %}

{% block right_title %}
Top Contributors
{% endblock %}
{% block righty %}
<div style="padding:20px;font-size:13px;">
<h1> Top Contributors</h1>
<ol class="top-contributors" style="padding:10px;">
</ol>
</div>
{% endblock %}

{% block more_js %}
<script>
	$(document).ready(function(){
        $.ajax({
                url:'/api/get_top_contributors',
                type:'GET',
                datatype:'json',
                success: function(data){
                  Data.top_contributors = data.top_contributors;
                	console.log(data);
                	$tc = $('.top-contributors');
                	if(data.top_contributors == null){
                		$tc.append($('<span/>',{text:'No Contributors. Yet!',style:'font-size:13px'}))
                	}else{
                		$(data.top_contributors).each(function(i,item){
                      
                      var $a = $('<a/>',{
                          href: '/user/'+item[0][0],
                          text: item[0][0],
                        });
                        var $span = $('<span/>',{
                          text:': ' + item[0][1] + ' - '+item[1],
                        });

                      var $li = $('<li/>');

                      var $br = $('<br/>');
	                		var $line = $('<div/>',{
                        class: 'line',
                      });
                      
                      $li.append($a);
	                		$li.append($span);
                      $li.append($br);
                      $li.append($br);
                      $tc.append($li);
	                	});
                	}
                	
                },
            });
	});
</script>	
{% endblock %}