{% extends 'base.html' %}


{% block meta_tags %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="{{user_object}} at Rhymebase">
    <meta name="description" content="{{user_object}} at Rhymebase">
    <meta name="keywords" content="{{user_object}},Rhymebase,rhyme">
    <meta property="og:site_name" content="Rhymebase">
    <meta property="og:url" content="{% url 'user_profile' slug=user_object.username %}">
    <meta property="og:title" content="{{user_object}} at Rhymebase">
    <!--<meta property="og:image" content="/static/img/logo.png">-->
    <meta property="og:description" content="{{user_object}} at Rhymebase">
    {% endblock %}


{% block title_tag %}
	{{user_object}}'s profile | Rhymebase
{% endblock %}

{% block now_playing %}
{{user_object}}'s profile
{% endblock %}

{% block player_container_and_vpo %}
<div style="padding:20px; font-size:11px">
<h2> {{karma}} karma </h2>
<h3> Status: {{status}} </h3>
{% if user.is_authenticated and user == user_object %}
<p><a href="{% url 'edit_profile' %}">Edit Profile</a></p>
{% endif %}
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="rhymes">

    {% for cr in rhymes %}

<a href="{% url 'rhyme_detail' video_id=cr.video_id pk=cr.original_rhyme.pk slug=cr.slug %}">{{cr}}</a>({{cr.vote_score}} votes)<br>

{% empty %}
No Rhymes
{% endfor %}

</div>
    <div role="tabpanel" class="tab-pane" id="genres">
        {% for cg in genres %}
            Defined <a href="{% url 'video_detail' video_id=cg.video_id %}">{{cg.video_title}}</a> as <a href="{% url 'genre' slug=cg.genre_object.slug %}">{{cg.genre_object.slug}}</a> ({{cg.vote_score}} votes)<br>
        {% empty %}
        No Genres
        {% endfor %}
    </div>
    <div role="tabpanel" class="tab-pane" id="artists">
        {% for ca in artists %}
            Defined <a href="{% url 'video_detail' video_id=ca.video_id %}">{{ca.video_title}}</a> as <a href="{% url 'artist' slug=ca.artist_object.slug %}">{{ca.artist_object.slug}}</a> ({{ca.vote_score}} votes)<br>
        {% empty %}
        No Artists
        {% endfor %}
    </div>
    <div role="tabpanel" class="tab-pane" id="songs">
        {% for cs in songs %}
            Defined <a href="{% url 'video_detail' video_id=cs.video_id %}">{{cs.video_title}}</a> as <a href="{% url 'song' slug=cs.song_object.slug %}">{{cs.song_object.slug}}</a> ({{cs.vote_score}} votes)<br>
        {% empty %}
        No Songs
        {% endfor %}
    </div>
    <div role="tabpanel" class="tab-pane" id="upvoted">
        <div>

          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#rhymes-upvoted" aria-controls="rhymes-upvoted" role="tab" data-toggle="tab">Rhymes</a></li>
            <li role="presentation"><a href="#community-genres-upvoted" aria-controls="community-genres-upvoted" role="tab" data-toggle="tab">Genres</a></li>
            <li role="presentation"><a href="#community-artists-upvoted" aria-controls="community-artists-upvoted" role="tab" data-toggle="tab">Artists</a></li>
            <li role="presentation"><a href="#community-songs-upvoted" aria-controls="community-songs-upvoted" role="tab" data-toggle="tab">Songs</a></li>
          </ul>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="rhymes-upvoted">
                {% for ru in rhymes_upvoted %}
                    <a href="{% url 'rhyme_detail' pk=ru.pk video_id=ru.video_id slug=ru.slug %}">"{{ru}}" in {{ru.video_title}}</a><br>
                {% empty %}
                    No Rhymes Upvoted

                {% endfor %}
            </div>
            <div role="tabpanel" class="tab-pane" id="community-genres-upvoted">
                {% for gu in genres_upvoted %}
                   <a href="{% url 'genre' slug=gu.genre_object.slug %}">{{gu}}</a> for <a href="{% url 'video_detail' video_id=gu.video_id %}">{{gu.video_title}}</a><br>
                {% empty %}
                    No Genres Upvoted

                {% endfor %}
            </div>
            <div role="tabpanel" class="tab-pane" id="community-artists-upvoted">
                {% for au in artists_upvoted %}
                    <a href="{% url 'video_detail' video_id=au.video_id %}">{{au}} for {{au.video_title}}</a><br>
                {% empty %}
                    No Artists Upvoted

                {% endfor %}
            </div>
            <div role="tabpanel" class="tab-pane" id="community-songs-upvoted">
                {% for su in songs_upvoted %}
                    <a href="{% url 'video_detail' video_id=su.video_id %}">{{su}} for {{su.video_title}}</a><br>
                {% empty %}
                    No Songs Upvoted

                {% endfor %}
            </div>
          </div>

</div>
    </div>
  </div>

</div>
{% endblock %}

{% block info %}

{% if user.authenticated and user != user_object %}
<a href="/report"> Report {{user_object}} </a>
{% endif %}

{% endblock %}

{% block right_title %}
Contribution Types
{% endblock %}
{% block righty %}
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" style="width:100%;font-size:13px;" class="active"><a href="#rhymes" aria-controls="rhymes" role="tab" data-toggle="tab">Rhymes</a></li>
    <li style="width:100%; font-size:13px;" role="presentation"><a href="#genres" aria-controls="genres" role="genres" data-toggle="tab">Genres</a></li>
    <li style="width:100%;font-size:13px;" role="presentation"><a href="#artists" aria-controls="artists" role="tab" data-toggle="tab">Artists</a></li>
    <li style="width:100%;font-size:13px;" role="presentation"><a href="#songs" aria-controls="songs" role="tab" data-toggle="tab">Songs</a></li>
    <li style="width:100%;font-size:13px;" role="presentation"><a href="#upvoted" aria-controls="upvoted" role="tab" data-toggle="tab">Upvoted</a></li>
  </ul>
{% endblock %}