{% extends 'base.html' %}


{% block now_playing %}
Edit Profile
{% endblock %}
{% block player_container_and_vpo %}
<h1 style="padding:20px;"> Edit Profile </h1>
<form style="font-size:11px;padding:20px;" method="post" action="{% url 'edit_profile' %}">
{% csrf_token %}
{{form.as_p}}
<input type="Submit" value="submit" style="background:#eee;border:1px solid #111"/>
</form>



{% endblock %}


{% block right_title %}
Deactivate
{% endblock %}
{% block righty %}
<div style="padding:20px">
<a style="padding:20px" href="{% url 'deactivate_user' %}"> <i class="fa fa-user-times"></i>Deactivate your Account </a>
</div>
{% endblock %}