{% extends "base.html" %}

{% load account %}

{% block title_tag %} Log in to Rhymebase{% endblock %}

{% block now_playing %}
Log in to Rhymebase
{% endblock %}
{% block player_container_and_vpo %}


<div class="col-md-12" style="margin-top:30px;">
  <div class="sp-lb-top col-md-9 col-md-offset-1">
    <center>
    <h1>Welcome Back to Rhymebase</h1>
    </center>
    <br>
{% if form.errors %}
<p>{{form.errors}}</p>
{% endif %}

       <div class="socialaccount_ballot">

      <div class="socialaccount_providers">
        <span class="col-md-6 pl0">
          <a title="Google" class="btn btn-social btn-google greyborder" style="background:#fff;" 
             href="/accounts/google/login/?process=login"> 
             <i class="fa fa-google"></i> Log in with Google
           </a>
        </span>
        <span class="col-md-6 pr0">
          <a title="Facebook" class="btn btn-social btn-facebook" 
             href="/accounts/facebook/login/?process=login">
              <i class="fa fa-facebook"></i> Log in with Facebook
           </a>
        </span>
      </div><br><br><br>

    </div>
    <div class="linex"></div>
    {% include "socialaccount/snippets/login_extra.html" %}

    

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      <input class="form-control lp-form-control grb" autofocus="autofocus" id="id_login" maxlength="30" name="login" placeholder="Username" type="text" /></p>
      <input class="form-control lp-form-control grb" id="id_password" name="password" placeholder="Password" type="password" /></p>  
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="linex">
      </div>
      
      <div class="col-md-6 nhp" style="padding:0px;padding-bottom:20px;">
        <span style="font-size:13px;line-height:11px;"> New to Rhymebase? <a href="/accounts/signup"> Sign up » </a></span>
        <a style="font-size:13px;" href="{% url 'account_reset_password' %}">Forgot Password?</a>    

      </div>
      <div class="col-md-6 nhp floatright" style="padding:0px;">
        <button class="primaryAction form-control green-form-control" type="submit">Sign In</button>
      </div>
      
    </form>
  </div>
  
</div>

{% endblock %}

{% block rt_link %}
{% url 'account_signup' %}
{% endblock %}

{% block right_title %} 
Sign up
{% endblock %}

{% block righty %}
<p style="margin-top:20px; padding:20px; font-size:18px">
Don't have an account? <a href="{% url 'account_signup' %}">Sign up </a>
</p>

{% endblock %}

