{% extends "base.html" %}

{% block title_tag %} Join Rhymebase{% endblock %}

{% block now_playing %}
Join Rhymebase
{% endblock %}

{% block player_container_and_vpo %}

<div class="col-md-12" style="margin-top:30px">
  <div class="sp-lb-top col-md-9 col-md-offset-1">
    <center>
    <h1>Join Rhymebase</h1>
    </center>
    <br>
{% if form.errors %}
<p>{{form.errors}}</p>
{% endif %}


    <div class="socialaccount_ballot">

      <div class="socialaccount_providers">
        <span class="fchleft">
          <a title="Google" class="btn btn-social btn-google greyborder" style="background:#fff" 
             href="/accounts/google/login/?process=login"> 
             <i class="fa fa-google"></i> Sign up with Google
           </a>
        </span>
        <span class="fchrightspecial">
          <a title="Facebook" class="btn btn-social btn-facebook" 
             href="/accounts/facebook/login/?process=login">
              <i class="fa fa-facebook"></i> Sign up with Facebook
           </a>
        </span>
      </div><br><br><br>

    </div>
    <div class="linex"></div>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      <input class="form-control lp-form-control grb" id="id_username" maxlength="30" name="username" placeholder="Username" type="text" value="{% if form.username.value %}{{form.username.value}}{% endif %}"/></p>
      <input class="form-control lp-form-control grb" id="id_email" name="email" placeholder="E-mail address" type="email" value="{% if form.email.value %}{{form.email.value}}{% endif %}"/></p>
      <input class="form-control lp-form-control grb" id="id_password1" name="password1" placeholder="Password" type="password" /></p>
      <input class="form-control lp-form-control grb" id="id_password2" name="password2" placeholder="Confirm Password" type="password" /></p>
      <input id="id_confirmation_key" maxlength="40" name="confirmation_key" type="hidden" /></p>

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
        <div style="font-size:13px;">
          By clicking "Sign Up" you agree to Rhymebase <a href="/terms"> Terms and Conditions. </a>
        </div>
      <div class="mt10 col-md-6 nhp" style="font-size:13px;padding:0px;">
        Already have an account?  <a href="{{ login_url }}">Log in</a>.
      </div>
     

      <div class="col-md-6 nhp" style="padding-bottom:20px">
        <button type="submit" class="form-control green-form-control" id="submit">Sign up &raquo;</button>
      </div>
    </form>
  </div>
</div>


{% endblock %}

{% block rt_link %}
{% url 'account_login' %}
{% endblock %}

{% block right_title %}
Log in to Rhymebase
{% endblock %}

{% block righty %}
<p style="margin-top:30px; padding:20px; font-size:18px">Already have an account? <a href="{% url 'account_login' %}"> Sign in </a></p>
{% endblock %}
{% block more_js_scripts %} 
<script>
  $('#checky').click(function(){
    var $this = $(this);
    if(!$this.is(':checked')){
      $('#submit').attr('disabled', 'disabled');
    }else{
      $('#submit').removeAttr('disabled');
    }
  });
</script>
{% endblock %}


