{% extends 'base.html' %}

{% block content %}
<h2>Delete your account</h2>

<form action="." method="POST">
	{% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-primary" type="submit" name="action">Confirm	</button>
</form>
{% endblock %}